.round {
  width: 100%;
  display: flex;
  flex-direction: row;

  gap: 20px;
  > div {
    width: 50%;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    > div {
      width: 100%;
    }
  }
}


.GussPic{
    user-select: none;
}

.tapButton {
  padding: 12px 32px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  background: #1976d2;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.cardFontSmall {
  font-size: 8px;
}

.cardContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}